<section class='post-container'>
  <div class='sub-container'>
  <div class="top-topic">
    <div><span> <%=@post.title%> by <%=@post.author.name%></span></div>
    <div class='post-counters'>
      <span>Likes: <%=@post.likes_counter%></span>
      <span>Comments: <%=@post.comments_counter%></span>
    </div>
  </div>
  <div> 
    <p><%=@post.text%></p>
    <% if can? :delete, @post%>
    <%= button_to "delete", user_post_path, method: :delete %>
      <% end %>
  <% if @post.comments.empty? %>
    <h5>No comments available</h5>
  <%else %>
  <div class='comment-div'>
    <% @comments.includes([:author]).each do |comment| %>
      <p><%= comment.author.name%>: <%= comment.text%></p>
      <% if can? :delete, comment%>
      <%= button_to "delete", user_post_comment_url(comment.author, comment.post, comment), method: :delete %>
      <% end %>
      <% %>
    <%end%>
<%end%>
  </div>

<h1>New Comment</h1>
<%= form_with url: user_post_comments_url(@user, @post), method: :post, local: true, scope: :comment do |f| %>

  <div>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </div>

  <%= f.submit "Create Comment" %>

<% end %>

<%= form_with url: user_post_likes_url(@user, @post), method: 'post' do |form| %>
    <% form.submit 'Like' %>
<% end %>
</section>