<section class='container'>
  <div class="user_container flex">
    <h3>Post # <%=@post.id%> by <%=@post.author.name%></h3>
    <div class='flex'>
      <span>Likes: <%=@post.likes_counter%></span>
      <span>Comments: <%=@post.comments_counter%></span>
    </div>
  </div>
  <p><%=@post.title%></p>
  <p><%=@post.text%></p>
</section>
<div class="container">
<div class='user-comments'>
  <% if @post.comments.empty? %>
    <h5>No comments</h5>
    <%else %>
    
      <% @comments.includes([:author]).each do |comment| %>
        <p><%= comment.author.name%>: <%= comment.text%></p>
    <%end%>
  <%end%>
</div>

<h1>New Comment</h1>
 <div class=form_div>
  <%= form_with url: user_post_comments_url(@user, @post), method: :post, local: true, scope: :comment do |f| %>

 
    <%= f.label :text %><br>
    <%= f.text_area :text, class: "input_field" %>


  <%= f.submit "Create Comment" %>

<% end %>
  </div>

<%= form_with url: user_post_likes_url(@user, @post), method: 'post' do |form| %>
    <% form.submit 'Like' %>
<% end %>
</div>