<%
=begin%>
 <p>Here is the post <%= @post %> for user <%= @user%> 
<%
=end%>

<section class="container">
    <div class="container">
        <div class="top flex">
            <span> <%= @post.title %> by <%= @post.author.name %> </span>
             <span> comments:  <%= @post.comments_counter %>, likes: <%= @post.likes_counter %></span>
        </div>
      
        <p> <%= @post.text%> </p>
    </div>
    <div class="comment-section">
        <ul>
            <% @post.top_five.each do | comment |%>
            <li><span><%= comment.author.name %>:  <%= comment.text %></span><li>
            <%end%>
        </ul>

    </div>
    <div class="like-div">
    <%= render 'likes/new'%>
   </div>
    <div class="comment-div">
    <%= render 'comments/comment' %>
    </div>
  
</section>